    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <h4>Simple Store</h4>
                    <small class="d-block mb-3 text-muted">© 2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Home</a></li>
                        <li><a class="text-muted" href="#">Browse by category</a></li>
                        <li><a class="text-muted" href="#">Search</a></li>
                        <li><a class="text-muted" href="#">Admin Login</a></li>
                        <li><a class="text-muted" href="#">Customer Login</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Developer Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">API</a></li>
                        <li><a class="text-muted" href="#">Documnetation</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About Project</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Technology</a></li>
                        <li><a class="text-muted" href="#">Code</a></li>
                        <li><a class="text-muted" href="#">Database</a></li>
                        <li><a class="text-muted" href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap.native@3.0.0/dist/bootstrap-native.min.js"></script>
    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/api.js"></script>
    <% if(scripts){%>
        <%scripts.forEach(script=>{%>
            <script src="/javascripts/<%=script%>"></script>
        <%})%>
    <%}%>
    </body>

    </html>