<%- include('./common/header.ejs', {title: "Simple Store"}); -%>
<%- include('./common/navbar.ejs', {user}); -%>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to simple store!</h1>
    <p class="lead">This is a simple store website with admin panel and a shopping cart.</p>
    <hr class="my-4">
    <p>It uses Node, express, ejs, postgress and bootstrap.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<%- include('./common/footer.ejs'); -%>