extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/", method="POST")
    input(name="lead_email", type="email", placeholder="Enter your email")
    button(type="submit") Submit

  if leads 
    h1 leads
    for lead in leads
      p(id="lead_"+lead.id)
        span #{lead.email}
        |
        a(href="/lead/" + lead.id) Details
        |
        button(onclick=`leadApi.deleteOne('${lead.id}');`) Delete

  script(src="/javascripts/lead.js")