<div class="card mt-5">
    <div class="embed-responsive embed-responsive-16by9">
        <a href="#">
            <img alt="Card image cap" class="card-img-top embed-responsive-item" 
            src="https://m.xcite.com/media/catalog/product/cache/1/small_image/255x300/9df78eab33525d08d6e5fb8d27136e95/b/u/buy_samsung_galaxy_tab_s6_tablet_-_brown_lowest_price_in_kuwait.jpg" />
        </a>
     </div>
     <button style="position: absolute;
     left: 0;" type="button" class="btn text-danger"><i class="far fa-heart"></i></button>
     <a href="#" style="    text-decoration: none;">
    <div class="card-body pb-0">
        <h5 class="card-title">Item 1</h5>
        <small>
            <ul class="list-unstyled list-inline rating mb-0">
                <li class="list-inline-item mr-0"><i class="fas fa-star text-warning"> </i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star text-warning"></i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star text-warning"></i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star text-warning"></i></li>
                <li class="list-inline-item"><i class="fas fa-star-half-alt text-warning"></i></li>
                <li class="list-inline-item">
                    <p class="text-muted">4.5 (413)</p>
                </li>
            </ul>
        </small>
    </div>
</a>
    <div class="card-footer">
        <button type="button" class="btn btn-outline-light text-danger float-left"><b>KWD 20000</b></button>
        <div class="btn-group float-right" role="group">
            <button type="button" class="btn btn-warning"><i class="fas fa-cart-plus"></i></button>
        </div>
    </div>
</div>