<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/10.1.0/jqwidgets/styles/jqx.base.min.css" integrity="sha512-T1dxBWJbEGvpowGr6Lo9VJmn5a/GcGbIQ1skGdcyaJLyD0rMDRC4k2RuK0ubBpJM79FWiBAU0tZOHW1wdMg6ow==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/10.1.0/jqwidgets/styles/jqx.bootstrap.min.css" integrity="sha512-WERBK51c/og0+gNTbpTNieo2ln2dLOXwPt7LyTSfVn1i/OoixrS0XfbClG7pU6/NgixoVvia+Bxaq45gFwjDXw==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/10.1.0/jqwidgets/jqx-all.js" integrity="sha512-RohdpIQoZCrdvAnQfA9+wavK2PVs6nYHehHDMONnLw1sO/Cdv3f/4cyKi5W6L4db3NXswtVr1y734iF8BlPISA==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>