<%- include('../../common/header.ejs', {title: "Brands"}); -%>
<%- include('../../common/navbar.ejs', {user, util}); -%>
<div class="container">
    <%- include('../../common/breadcrumbs.ejs', {crumbs}); -%>
    <div class="row">
        <div class="col-12">
            <div id="gvBrands"></div>
        </div>
    </div>
</div>
<%- include('../../common/footer.ejs', {scripts: ["admin/brands/list.js"]}); -%>