<%- include('../../common/header.ejs', {title: "Brand Details"}); -%>
<%- include('../../common/navbar.ejs', {user, util}); -%>
<div class="container">
  <%- include('../../common/breadcrumbs.ejs', {crumbs}); -%>
</div>
<%- include('../../common/footer.ejs', {scripts: []}); -%>